%h1 Administration Panel
= link_to videos_path, class: 'btn btn-large btn-block' do
  %i.icon-facetime-video
  %strong Manage Videos
= link_to orders_path, class: "btn btn-large btn-block" do
  %i.icon-pencil
  %strong Manage Orders
= link_to users_path, class: "btn btn-large btn-block " do
  %i.icon-user
  %strong Manage Users