<h1>Administration Panel</h1>

<ul>
  <li> <%= link_to 'Manage Videos', videos_path %> </li>
  <li> <%= link_to 'Manage Orders', orders_path %></li>
  <li> <%= link_to 'Manage Users', users_path %></li>
</ul>
