<h1>Administration Panel</h1>

 <%= link_to videos_path, class: 'btn btn-large btn-block' do %>
  <i class='icon-facetime-video'></i> <strong>Manage Videos</strong>
 <% end %>
 
 <%= link_to orders_path, class: "btn btn-large btn-block" do %>
 <i class="icon-pencil"></i><strong>Manage Orders</strong>
 <% end %>

 <%= link_to users_path, class: "btn btn-large btn-block " do %>
 <i class="icon-user"></i><strong>Manage Users</strong>
 <% end %>

