/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
   
 

   @import "bootstrap";
   @import "bootstrap-responsive";
   

   body { padding-top: 60px; } 

   

   article {
   	padding-top: 30px
   } 

  
   .space-link {
   	padding:5px;
   	margin:5px;}
 

   
   /**
   menu bar */
   

 
 .container-base {position: relative;}
 .second {margin-top: 100px}

   .affix {
          width: auto;
     top: 1%;
     position:absolute;
    }

   /**
   video buttons and video related stuff
   */

   h6.video_nbr {
   	color: darkkhaki; }


   
 
   .poster_thumbnail {
     width: 300px;
     height: 120px;
     border: 1px solid black;
   }

   .video_thumbnail {
     width: 300px;
     height: 130px;
     border: 1px solid black;
   }


   .video_table { width: 1000px;
                  height: 200px;
                  table-layout: fixed;}

   .video_table td {
    text-align: left;
    vertical-align: top;
    padding: 0px;
   
   	overflow: scroll;}

/**

copy paste hack to have same effect has twitter bootstrap homepage - some stuff might be useless*/ 



   .bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    /*display: block;*/
    /*margin: 0 0 -1px;*/
    padding: 8px 14px;
}

.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    /*display: block;*/
    /*margin: 0 0 -1px;*/
    padding: 8px 14px;
}

.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}

.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    /*background-image: url("../img/glyphicons-halflings-white.png");*/
    opacity: 1;
}

.bbs-docs-sidenav.affix {
    top: 40px;
}

.bbs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
} 



     